body {
    background-color: #797979;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.nav {
    background-color: #0000004f;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
    position: fixed;
    z-index: 10;
    width: 100%; 
    top: 0px;
    left: 0px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.nav li {
    font-size: 30px;
    display: inline-block;
    font-weight: 300;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
}

.nav a {
    color: #fff;
    margin: 15px;
    text-decoration: none;
}

.nav a:hover {
    color: #6c839a;
}

img {
    border-radius: 5%;
}