html {
    background-color: #090909;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: antiquewhite;
}

.nav {
    background-color: #d9d7d7;
    color: #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    height: auto;
    align-content: center;
    z-index: 10;
    width: 100%; 
    top: 0px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
}

.nav ul {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav li {
    font-size: 30px;
    display: inline-block;
    font-weight: 300;
    color: #000;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    
}

.nav a {
    color: #000;
    margin: 15px;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    color: #6c839a;
}

img {
    border-radius: 5%;
}

footer {
    color: #363636;
}
@media (max-width: 800px) {
    .nav {
        flex-direction: column;
        background-color: #d9d7d7;
    }
    
    .nav ul {
        flex-direction: column;
        align-items: center;
        margin: 3px 0 3px;
        padding: 0;
        
    }

    .nav li {
        text-align: center;
        font-size: 25px;
        flex-direction: column;
    }
}