
.schedule {
    margin-top: 155px;
}

.schedule h1 {
    text-decoration: underline;
}

.flocknote {
    margin-top: 150px;
}

button {
    background-color: #426091;
    border-radius: 2px;
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #426091a3;
}

input {
    height: 40px;
    font-size: 16px;
}