.join h1{
    margin-top: 200px;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.flocknote {
    margin-top: 30px;
    font-size: 16px;
    display: flex;
}

.info {
    width: 50%;
}

.info h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.info h3 {
    font-weight: 400 ;
}

.form {
    margin-top: 50px;
    width: 50%;
    display: inline-block;
}

button {
    background-color: #426091;
    border-radius: 2px;
    color: antiquewhite;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #366ec7a3;
}

input {
    height: 40px;
    background-color: #797979;
    border: none;
    margin: auto;
}

.schedule {
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
}

.schedule h3 {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.schedule h4 {
    text-align: left;
    margin-bottom: 1px;
    text-decoration: underline;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.schedule p {
    text-align: left;
    margin-top: 0;
    font-family: 'Montserrat' sans-serif;
    font-weight: 400;
}
